SERVER_PORT=8080

APP_NAME=webman-template
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Asia/Shanghai

# MySQL
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=test
DB_USERNAME=root
DB_PASSWORD=123456
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

# Redis
REDIS_HOST=127.0.0.1
REDIS_AUTH=123456
REDIS_PORT=6379
REDIS_DB=0
REDIS_PREFIX=WEBMAN:TEMPLATE:

# Beanstalk
BEANSTALK_HOST=127.0.0.1
BEANSTALK_PORT=11300
BEANSTALK_CONSUMER_RUN=true
