# environment config files
.env

# phpstorm project files
.idea/

# vscode project files
.vscode/

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
vendor/

# composer itself is not needed
composer.phar

# mac DS_Store files
.DS_Store

# log files
*.log

# phpunit files
tests/phpunit.phar
tests/tmp
tests/.phpunit.result.cache
